<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
        body {
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            background-image: url('https://bit.ly/3rf2paH');
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
        }
        .error {
            padding-top: 10%;
            font-size: 300%;
            font-weight: 700;
        }
        .sorry {
            font-size: 170%;
        }
    </style>
</head>
<body>
    <p class="error">OOPS! IT'S A 404</p>
    <p class="sorry">Sorry, this page does not exist :(</p>
</body>
</html>