* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a:hover{
    background-color: #61878a;
}

a {
    text-decoration: none;
}

.Body {
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(13, 112, 107);
}

header {
    padding: 40px;
    top: 0;
}

nav {
    overflow: hidden;
    background-color: rgb(13, 112, 107);
    position: sticky;
    width: 100%;
    top: 0;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    float: left;
    color:#fff;
}

nav a:hover {
    background-color: rgb(137, 145, 143);
}

.cards-cont {
    margin-left: 10%;
    padding: 2%;
}

.card {
    padding: 1%;
    margin: 1%;
    border: solid 1px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;
    font-weight: 600;
}


.card:hover {
    background-color: rgb(13, 112, 107);
    cursor: pointer;
    color: #fff;
}

#c1 {
    width: 15%;
    float: left;
}
#c2 {
    width: 15%;
    float: left;
}
#c3 {
    width: 15%;
    float: left;
}
#c4 {
    width: 15%;
    float: left;
}

#c5 {
    width: 15%;
    float: left;
}
